<a href="https://colab.research.google.com/github/chitreshkr/AI-Workshop/blob/master/EDA_Time_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install download

Collecting download
  Downloading https://files.pythonhosted.org/packages/37/45/01e7455a9659528e77a414b222326d4c525796e4f571bbabcb2e0ff3d1f4/download-0.3.5-py3-none-any.whl
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from download) (4.41.1)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from download) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from download) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->download) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->download) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->download) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->download) (1.24.3)
Installing collected packages: download
Successfully installed download-0.3.5

In [2]:
from __future__ import absolute_import,division,print_function,unicode_literals

import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as  np
import pandas as pd
import os 
from datetime import datetime
from download import download
mpl.rcParams['figure.figsize'] = (8,6)
mpl.rcParams['axes.grid'] = False

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
path = download('https://archive.ics.uci.edu/ml/machine-learning-databases/00501/PRSA2017_Data_20130301-20170228.zip','/tmp/aq',kind='zip',replace=True)

Creating data folder...
Downloading data from https://archive.ics.uci.edu/ml/machine-learning-databases/00501/PRSA2017_Data_20130301-20170228.zip (7.6 MB)

file_sizes: 100%|██████████████████████████| 7.96M/7.96M [00:00<00:00, 12.7MB/s]
Extracting zip file...
Successfully downloaded / unzipped to /tmp/aq

In [4]:
df = pd.read_csv('/tmp/aq/PRSA_Data_20130301-20170228/PRSA_Data_Dingling_20130301-20170228.csv',encoding='ISO-8859-1')

In [5]:
!ls -alrt /tmp/aq/PRSA_Data_20130301-20170228

total 31780
drwxr-xr-x 3 root root    4096 Aug 24 18:08 ..
-rw-r--r-- 1 root root 2835916 Aug 24 18:08 PRSA_Data_Aotizhongxin_20130301-20170228.csv
-rw-r--r-- 1 root root 2722295 Aug 24 18:08 PRSA_Data_Changping_20130301-20170228.csv
-rw-r--r-- 1 root root 2675856 Aug 24 18:08 PRSA_Data_Dingling_20130301-20170228.csv
-rw-r--r-- 1 root root 2636684 Aug 24 18:08 PRSA_Data_Dongsi_20130301-20170228.csv
-rw-r--r-- 1 root root 2695860 Aug 24 18:08 PRSA_Data_Guanyuan_20130301-20170228.csv
-rw-r--r-- 1 root root 2654625 Aug 24 18:08 PRSA_Data_Gucheng_20130301-20170228.csv
-rw-r--r-- 1 root root 2641027 Aug 24 18:08 PRSA_Data_Huairou_20130301-20170228.csv
-rw-r--r-- 1 root root 2839705 Aug 24 18:08 PRSA_Data_Nongzhanguan_20130301-20170228.csv
-rw-r--r-- 1 root root 2620654 Aug 24 18:08 PRSA_Data_Shunyi_20130301-20170228.csv
-rw-r--r-- 1 root root 2655061 Aug 24 18:08 PRSA_Data_Tiantan_20130301-20170228.csv
-rw-r--r-- 1 root root 2659544 Aug 24 18:08 PRSA_Data_Wanliu_20130301-20170228.csv
drwxr-xr-x 2 root root    4096 Aug 24 18:08 .
-rw-r--r-- 1 root root 2871076 Aug 24 18:08 PRSA_Data_Wanshouxigong_20130301-20170228.csv

In [6]:
df.head()

   No  year  month  day  hour  PM2.5  ...    PRES  DEWP  RAIN   wd  WSPM   station
0   1  2013      3    1     0    4.0  ...  1020.8 -19.7   0.0    E   0.5  Dingling
1   2  2013      3    1     1    7.0  ...  1021.3 -19.0   0.0  ENE   0.7  Dingling
2   3  2013      3    1     2    5.0  ...  1021.3 -19.9   0.0  ENE   0.2  Dingling
3   4  2013      3    1     3    6.0  ...  1021.8 -19.1   0.0  NNE   1.0  Dingling
4   5  2013      3    1     4    5.0  ...  1022.3 -19.4   0.0    N   2.1  Dingling

[5 rows x 18 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 18 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   No       35064 non-null  int64
 1   year     35064 non-null  int64
 2   month    35064 non-null  int64
 3   day      35064 non-null  int64
 4   hour     35064 non-null  int64
 5   PM2.5    34285 non-null  float64
 6   PM10     34408 non-null  float64
 7   SO2      34334 non-null  float64
 8   NO2      33830 non-null  float64
 9   CO       33052 non-null  float64
 10  O3       33850 non-null  float64
 11  TEMP     35011 non-null  float64
 12  PRES     35014 non-null  float64
 13  DEWP     35011 non-null  float64
 14  RAIN     35013 non-null  float64
 15  wd       34924 non-null  object
 16  WSPM     35021 non-null  float64
 17  station  35064 non-null  object
dtypes: float64(11), int64(5), object(2)
memory usage: 4.8+ MB

In [8]:
def convert_to_date(x):
  return datetime.strptime(x,'%Y %m %d %H')

In [9]:
aq_df = pd.read_csv('/tmp/aq/PRSA_Data_20130301-20170228/PRSA_Data_Dingling_20130301-20170228.csv',parse_dates = [['year','month','day','hour']],date_parser=convert_to_date,keep_date_col=True)

In [10]:
aq_df.head()

  year_month_day_hour  No  year month day  ...  DEWP  RAIN   wd  WSPM   station
0 2013-03-01 00:00:00   1  2013     3   1  ... -19.7   0.0    E   0.5  Dingling
1 2013-03-01 01:00:00   2  2013     3   1  ... -19.0   0.0  ENE   0.7  Dingling
2 2013-03-01 02:00:00   3  2013     3   1  ... -19.9   0.0  ENE   0.2  Dingling
3 2013-03-01 03:00:00   4  2013     3   1  ... -19.1   0.0  NNE   1.0  Dingling
4 2013-03-01 04:00:00   5  2013     3   1  ... -19.4   0.0    N   2.1  Dingling

[5 rows x 19 columns]

In [11]:
aq_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35064 entries, 0 to 35063
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year_month_day_hour  35064 non-null  datetime64[ns]
 1   No                   35064 non-null  int64
 2   year                 35064 non-null  object
 3   month                35064 non-null  object
 4   day                  35064 non-null  object
 5   hour                 35064 non-null  object
 6   PM2.5                34285 non-null  float64
 7   PM10                 34408 non-null  float64
 8   SO2                  34334 non-null  float64
 9   NO2                  33830 non-null  float64
 10  CO                   33052 non-null  float64
 11  O3                   33850 non-null  float64
 12  TEMP                 35011 non-null  float64
 13  PRES                 35014 non-null  float64
 14  DEWP                 35011 non-null  float64
 15  RAIN                 35013 non-null  float64
 16  wd                   34924 non-null  object
 17  WSPM                 35021 non-null  float64
 18  station              35064 non-null  object
dtypes: datetime64[ns](1), float64(11), int64(1), object(6)
memory usage: 5.1+ MB

In [12]:
aq_df['month'] = pd.to_numeric(aq_df['month'])

In [15]:
print("Rows     :",aq_df.shape[0])
print("Columns  :",aq_df.shape[1])
print("\nFeatures\n    :",aq_df.columns.to_list())
print("\nMissingValues\n     :",aq_df.isnull().any())
print("\nMissingValuesCount\n     :",aq_df.isnull().sum())
print("\nUniqueValues\n     :",aq_df.nunique())

Rows     : 35064
Columns  : 19

Features
    : ['year_month_day_hour', 'No', 'year', 'month', 'day', 'hour', 'PM2.5', 'PM10', 'SO2', 'NO2', 'CO', 'O3', 'TEMP', 'PRES', 'DEWP', 'RAIN', 'wd', 'WSPM', 'station']

MissingValues
     : year_month_day_hour    False
No                     False
year                   False
month                  False
day                    False
hour                   False
PM2.5                   True
PM10                    True
SO2                     True
NO2                     True
CO                      True
O3                      True
TEMP                    True
PRES                    True
DEWP                    True
RAIN                    True
wd                      True
WSPM                    True
station                False
dtype: bool

MissingValuesCount
     : year_month_day_hour       0
No                        0
year                      0
month                     0
day                       0
hour                      0
PM2.5                   779
PM10                    656
SO2                     730
NO2                    1234
CO                     2012
O3                     1214
TEMP                     53
PRES                     50
DEWP                     53
RAIN                     51
wd                      140
WSPM                     43
station                   0
dtype: int64

UniqueValues
     : year_month_day_hour    35064
No                     35064
year                       5
month                     12
day                       31
hour                      24
PM2.5                    486
PM10                     554
SO2                      327
NO2                      636
CO                       103
O3                       792
TEMP                     998
PRES                     593
DEWP                     602
RAIN                     116
wd                        16
WSPM                      95
station                    1
dtype: int64

In [16]:
aq_df.describe()

                 No         month  ...          RAIN          WSPM
count  35064.000000  35064.000000  ...  35013.000000  35021.000000
mean   17532.500000      6.522930  ...      0.060366      1.853836
std    10122.249256      3.448752  ...      0.752899      1.309808
min        1.000000      1.000000  ...      0.000000      0.000000
25%     8766.750000      4.000000  ...      0.000000      1.000000
50%    17532.500000      7.000000  ...      0.000000      1.500000
75%    26298.250000     10.000000  ...      0.000000      2.300000
max    35064.000000     12.000000  ...     52.100000     10.000000

[8 rows x 13 columns]

In [17]:
aq_df_non_indexed = aq_df.copy()

In [18]:
aq_df = aq_df.set_index('year_month_day_hour')

In [19]:
aq_df.head()

                     No  year  month day hour  ...  DEWP  RAIN   wd  WSPM   station
year_month_day_hour                            ...
2013-03-01 00:00:00   1  2013      3   1    0  ... -19.7   0.0    E   0.5  Dingling
2013-03-01 01:00:00   2  2013      3   1    1  ... -19.0   0.0  ENE   0.7  Dingling
2013-03-01 02:00:00   3  2013      3   1    2  ... -19.9   0.0  ENE   0.2  Dingling
2013-03-01 03:00:00   4  2013      3   1    3  ... -19.1   0.0  NNE   1.0  Dingling
2013-03-01 04:00:00   5  2013      3   1    4  ... -19.4   0.0    N   2.1  Dingling

[5 rows x 18 columns]

In [20]:
aq_df.loc['2013-03-01':'2013-03-05']

                      No  year  month day hour  ...  DEWP  RAIN   wd  WSPM   station
year_month_day_hour                             ...
2013-03-01 00:00:00    1  2013      3   1    0  ... -19.7   0.0    E   0.5  Dingling
2013-03-01 01:00:00    2  2013      3   1    1  ... -19.0   0.0  ENE   0.7  Dingling
2013-03-01 02:00:00    3  2013      3   1    2  ... -19.9   0.0  ENE   0.2  Dingling
2013-03-01 03:00:00    4  2013      3   1    3  ... -19.1   0.0  NNE   1.0  Dingling
2013-03-01 04:00:00    5  2013      3   1    4  ... -19.4   0.0    N   2.1  Dingling
...                  ...   ...    ...  ..  ...  ...   ...   ...  ...   ...       ...
2013-03-05 19:00:00  116  2013      3   5   19  ...  -7.6   0.0  NNE   0.2  Dingling
2013-03-05 20:00:00  117  2013      3   5   20  ...  -7.3   0.0  NNE   0.7  Dingling
2013-03-05 21:00:00  118  2013      3   5   21  ...  -7.3   0.0  NNE   0.2  Dingling
2013-03-05 22:00:00  119  2013      3   5   22  ...  -7.0   0.0    N   1.7  Dingling
2013-03-05 23:00:00  120  2013      3   5   23  ...  -6.9   0.0   NE   0.4  Dingling

[120 rows x 18 columns]

In [21]:
aq_df.loc['2013':'2015']

                        No  year  month day  ... RAIN   wd  WSPM   station
year_month_day_hour                          ...
2013-03-01 00:00:00      1  2013      3   1  ...  0.0    E   0.5  Dingling
2013-03-01 01:00:00      2  2013      3   1  ...  0.0  ENE   0.7  Dingling
2013-03-01 02:00:00      3  2013      3   1  ...  0.0  ENE   0.2  Dingling
2013-03-01 03:00:00      4  2013      3   1  ...  0.0  NNE   1.0  Dingling
2013-03-01 04:00:00      5  2013      3   1  ...  0.0    N   2.1  Dingling
...                    ...   ...    ...  ..  ...  ...  ...   ...       ...
2015-12-31 19:00:00  24860  2015     12  31  ...  0.0   NE   0.6  Dingling
2015-12-31 20:00:00  24861  2015     12  31  ...  0.0   NW   1.1  Dingling
2015-12-31 21:00:00  24862  2015     12  31  ...  0.0   NE   0.9  Dingling
2015-12-31 22:00:00  24863  2015     12  31  ...  0.0  NNW   1.3  Dingling
2015-12-31 23:00:00  24864  2015     12  31  ...  0.0  NNW   1.3  Dingling

[24864 rows x 18 columns]

In [22]:
pm_data = aq_df['PM2.5']